
<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80)">
  <h1>My Social Media Analysis</h1>
</div>

  <%= image_tag("https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png") %>
  <%= link_to "Link my Twitter profile to Click & Stalk", user_twitter_omniauth_authorize_path %><br />

  <%= image_tag("https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png") %>


  <%= link_to "Check me", checkme_path, class:"btn btn-log btn-lg" %>

<div class="bottom-page text-center">
  <%= link_to 'Back to homepage', root_path, class: 'btn btn-check' %>
</div>
