<div class="page-banner">
  <div class="title-container">
    <h1><strong>Linkedin</strong></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834011_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>


<div class="container social-media-pages">

  <div class="user-score">
    <div class="display-score">
      <p>Your profile is not complete!</p>
      <p>Look for <span>missing information</span> to reach 100%</p>
    </div>
    <div id="score-data">
    </div>
    <div id="missing-data">
    </div>
  </div>


  <!-- COUNTER -->
  <% counter = 0 %>
  <% missing_info = [] %>

    <div class="cards">
      <div id="user-avatar" class="card-title">
        <h1 style="white-space: pre-wrap;">Avatar <i class="fas fa-user-circle"></i></h1>
      </div>
      <div class="card-details small">
        <% if @profiles[0]["profile_picture"] == false %>
          <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/1041/1041891.svg", style:"width:120px; margin-top:30px;", 'aria-haspopup': true, 'aria-expanded': false %>
          <p>Studies have found a LinkedIn profile is <strong>40% more likely</strong> to be clicked on if it contains a profile picture. <span>Add yours!</span> </p>
          <% missing_info << '<li><a href="#user-avatar">Missing an avatar</a></li>' %>
        <% else %>
          <%= image_tag @profiles[0]["profile_picture"], class: "avatar dropdown-toggle", style:"width:150px; margin-top:15px;", 'aria-haspopup': true, 'aria-expanded': false %>
          <% counter += 10 %>
        <% end %>
      </div>
    </div>



    <div class="cards">
      <div id="user-connections" class="card-title">
        <h1 style="white-space: pre-wrap;">Connections <i class="far fa-handshake"></i></h1>
      </div>
      <div class="card-details small">
        <% contacts = @connections.map {|x| x[/\d+/]} %>
        <% contacts.each do |c| %><p><% c %></p><% end %>
        <% number_of_contacts = contacts.first.to_i %>
        <% if number_of_contacts == 500 %>
          <p><%= @connections[0] %></p>
          <% counter += 20 %>
        <% elsif number_of_contacts < 100 %>
          <p><span>Increase your connections</span> to be more visible by recruiters!</p>
          <% missing_info << '<li><a href="#user-connections">Connect to more people</a></li>' %>
        <% else %>
          <p>You could still <span>connect to more people</span> !</p>
          <% missing_info << '<li><a href="#user-connections">Connect to more people</a></li>' %>
          <% counter += 10 %>
        <% end %>
      </div>
    </div>



    <div class="cards">
      <div id="user-headline" class="card-title">
        <h1 style="white-space: pre-wrap;">Headline</h1>
      </div>
      <div class="card-details small">
        <% if @profiles[0]["headline"].nil? %>
          <p><span>Add a headline</span> to catch recruiters' eyes!</p>
          <% missing_info << '<li><a href="#user-headline">Missing a headline</a></li>' %>
        <% else %>
          <p><%= @profiles[0]["headline"]%></p>
          <% counter += 10 %>
        <% end %>
      </div>
    </div>



    <div class="cards">
      <div id="user-summary" class="card-title">
        <h1 style="white-space: pre-wrap;">Summary </i></h1>
      </div>
      <div class="card-details small">
        <% if @profiles[0]["summary"] == false %>
          <p>You haven't introduced yourself! <br> <span>Add a short introduction</span> to tease recruiters' curiosity <i class="far fa-smile-wink" style="color:black"></i></p>
          <% missing_info << '<li><a href="#user-summary">Missing an introduction</a></li>' %>
        <% else %>
          <p><i class="fas fa-quote-left">&nbsp;</i><%= @profiles[0]["summary"].truncate_words(20, omission: '...') %>&nbsp;<i class="fas fa-quote-right"></i></p>
          <% counter += 10 %>
        <% end %>
      </div>
    </div>


    <div class="cards">
      <div id="user-experience" class="card-title">
        <h1>Experiences <i class="fas fa-briefcase"></i></h1>
      </div>
      <div class="card-details d-flex">
        <div class="experience-glance w-50">
          <% if @experiences.empty? %>
            <p>It seems like you've never worked. Is that right ?</p>
            <p>If so, don't be shy to <span>add extra-curricular activities</span>. It's always good to know <i class="far fa-smile-wink" style="color:black"></i></p>
          <% missing_info << '<li><a href="#user-experience">Never worked ?</a></li>' %>
          <% else %>
            <p style="white-space: pre-wrap;">Your experiences at a glance :</p>
            <ul class="skills flex-wrap">
              <% @experiences.each do |exp| %>
                <li><%= exp["title"] %></li>
              <% end %>
            </ul>
          </div>
          <div class="experience-last w-50">
            <% empty_date = false %>
            <% experiences_dates = [] %>
            <% @experiences.each do |exp| %>
            <% empty_date = true if exp["date"] == false %>
            <% experiences_dates << exp["date"] %>
            <% end %>

            <% if empty_date %>
            <p>Add dates to your professional experience!</p>
            <% missing_info << '<li><a href="#user-experience">Missing dates on experiences</a></li>' %>
            <% else %>
              <% single_dates = experiences_dates.reject { |x| x.match(/^(19|20)\d\d\s-\s(19|20)\d\d$/) } %>
                <% if single_dates.empty? %>
                  <% last_experience_date =  experiences_dates.max %>
                  <% last_experience_company = @experiences.find { |exp| exp["date"] == last_experience_date } %>
                  <p style="white-space: pre-wrap;">Your last experience :</p>
                  <p>from <%= last_experience_date.gsub('-', ' to ') %> <br>at <strong><%= last_experience_company["company"] %></strong></p>
                <% else  %>
                  <% last_experience_date = single_dates.max %>
                  <% last_experience_company = @experiences.find { |exp| exp["date"] == last_experience_date } %>
                  <p>You've been working since <%= last_experience_date %> <br>at <strong><%= last_experience_company["company"] %></strong>.</p>
                <% end %>
              <p>Is this correct ? If not, <strong>update</strong> it <i class="far fa-smile-wink" style="color:black"></i></p>
            <% end %>
            <% counter += 10 %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="cards">
      <div id="user-education" class="card-title">
        <h1>Education <i class="fas fa-graduation-cap"></i></h1>
      </div>
      <div class="card-details d-flex">
        <div class="education-glance w-50">
        <% if @educations.empty? %>
          <p>It seems like you've never been to school. Is that right ?</p>
          <p><span>Let recruiters know</span> what you've studied !</p>
          <% missing_info << '<li><a href="#user-education">Never been to school ?</a></li>' %>
        <% else %>
          <p style="white-space: pre-wrap;">Your education at a glance :</p>
          <ul class="skills flex-wrap">
            <% degrees = [] %>
            <% @educations.each do |edu| %>
              <li><%= edu["school"] %></li>
              <% unless edu["date"] || edu["degree"].nil? || edu["grade"].nil? || edu["degree"].nil? %>
                <li><%= edu["date"] %> - <%= edu["degree"] %>: <%= edu["grade"] %> / <%= edu["degree"] %> </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="education-last w-50">
          <% empty_date = false %>
          <% school_dates = [] %>
          <% @educations.each do |edu| %>
          <% empty_date = true if edu["date"] == false %>
          <% school_dates << edu["date"] %>
          <% end %>

          <% if empty_date %>
          <p><span>Add dates to your course!</span></p>
          <% missing_info << '<li><a href="#user-education">Missing dates on courses</a></li>' %>
          <% else %>
            <% last_education_date =  school_dates.max %>
            <% last_education_school = @educations.find { |edu| edu["date"] == last_education_date } %>
            <p style="white-space: pre-wrap;">Your most recent course :</p>
            <p>from <%= last_education_date.gsub('-', ' to ') %> <br>at <strong><%= last_education_school["school"] %></strong></p>
            <p>Is this correct ? If not, <strong>update</strong> it <i class="far fa-smile-wink" style="color:black"></i></p>
          <% end %>
          <% counter += 10 %>
        <% end %>
        </div>
      </div>
    </div>


    <div class="cards">
      <div id="user-skills" class="card-title">
        <h1 style="white-space: pre-wrap;">Skills <i class="fas fa-lightbulb"></i></h1>
      </div>
      <div class="card-details d-flex">
        <div class="skills-list w-50">
          <% number_of_skills = @skills.count.to_i %>
          <% if number_of_skills <= 4 %>
            <p><span>Add skills</span> so that recruiters can spot your talents!</p>
            <p>And don't forget to ask your former employers for <strong>recommendations</strong> on your skills !</p>
            <% missing_info << '<li><a href="#user-skills">Missing skills</a></li>' %>
        </div>
        <div class="skills-list w-50">
          <% else %>
            <ul class="skills flex-wrap">
              <% @skills.sample(5).each do |skill| %>
                <li><%= skill %></li>
              <% end %>
            </ul>
            <p>Ask former employers for <strong>recommendations</strong> on your skills !</p>
            <% counter += 10 %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="cards">
      <div id="user-languages" class="card-title">
        <h1 style="white-space: pre-wrap;">Languages <i class="fas fa-comments"></i></h1>
      </div>
      <div class="card-details small d-flex">
        <% if @languages.empty? %>
          <p><span>Add languages!</span></p>
          <% missing_info << '<li><a href="#user-languages">Missing foreign languages</a></li>' %>
        <% elsif @languages.each do |language| %>
            <p><%= language["name"] %> : <br><span>Add your level</span></p><% if language["proficiency"].empty? %>
            <% end %>
          <% end %>
          <% missing_info << '<li><a href="#user-languages">Missing language level</a></li>' %>
          <% counter += 10 %>
        <% else %>
          <ul class="skills flex-wrap">
            <% @languages.each do |language| %>
            <li><%= language["name"] %> : <%= language["proficiency"].capitalize.gsub('_', ' ') %></li>
            <% end %>
          </ul>
          <% counter += 20 %>
        <% end %>
      </div>
    </div>


    <div class="cards">
      <div id="user-honors" class="card-title">
        <h1 style="white-space: pre-wrap;">Honors <i class="fas fa-award"></i></h1>
      </div>
      <div class="card-details small d-flex">
        <% if @honors.empty? %>
          <p>If you've ever had <strong>honors</strong> (of any kind!), don't be shy to <span>add it to your profile</span> ! You never know what might make a difference <i class="far fa-smile-wink" style="color:black"></i></p>
        <% else %>
          <ul class="skills list-inline flex-wrap">
            <% @honors.each do |h| %>
            <li><strong><%= h["title"] %></strong></li>
            <li>( from <%= h["issuer"] %> )</li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  <div class="metadata">
    <meta name="score" id="score" content="<%= counter %>">
  </div>

  <div id="missing-information" data-info="<%= missing_info.to_json %>">
  </div>

  <div class="social-link text-center">
    <h3><i class="fas fa-arrow-circle-down"></i> Click to make changes <i class="fas fa-arrow-circle-down"></i></h3>
    <%= link_to '', "https://www.linkedin.com/#{current_user.username_insta}", target:"_blank", style:"text-decoration: none;", class:"fab fa-fw fa-linkedin" %>
  </div>

  <div class="text-center">
    <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
  </div>

