<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Twitter</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>

<div class="container social-media-pages" >
<% unless @hashtags.empty? %>
 <div class="cards flex-wrap">
    <div class="card-title">
      <h1 style="white-space: pre-wrap;"> Favorite hashtags <i class="fab fa-slack-hash"></i></h1>
    </div>
    <div class="card-details-insta">
      <p style="white-space: pre-wrap;">This section can give information about your favorite topics. <br> <strong>Make sure hasthags really fit your personality and opinions.</strong></p><br>
       <div>
          <% @hashtags.first.each do |hashtag| %>
            <div class= "circle-twi text-center">
              <p> <%= hashtag.first%> </p>
            </div>
          <% end %>
      </div>
    </div>
  </div>
<% end %>


<% unless @mistakes.empty? %>
   <div class="cards">
      <div class="card-title">
        <h1 style="white-space: pre-wrap; color:#d62828;"> Mistakes Warning  <i class="fas fa-exclamation-triangle"></i></h1>
      </div>
      <div class="card-details-insta">
      <p style="white-space: pre-wrap;">Grammar and misspelling can be badly perceived by recruiters. <br><strong>Here are words you've misspelled, be careful in the future 😉</strong></p><br>
        <div class="content d-flex">
            <% @mistakes.each do |word| %>
                <div class= "card-mistake text-center"><%= word.flatten[1] %>
              <% unless word.nil? %>
              <% end %>
                  </div>
            <% end %>
            </div>
        </div>
    </div>
  <% end %>

  <div class="cards">
    <div class="card-title">
      <h1 style="white-space: pre-wrap;">Last tweets <i class="fab fa-twitter"></i></h1>
    </div>
    <div class="card-details-insta">
      <div class="content d-flex">
        <% if @contents.empty? %>
          <h3><i class="fas fa-exclamation-circle"></i><br> You never tweeted anything </h3>
        <% else %>
         <% @contents.each do |tweet|%>
            <div class="card-tweet"><%= tweet %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<div class="social-link text-center">
  <h3><i class="fas fa-arrow-circle-down"></i> Click to make changes <i class="fas fa-arrow-circle-down"></i></h3>
  <%= link_to '', "https://www.twitter.com/#{current_user.username_twitter}", target:"_blank", style:"text-decoration: none;", class:"fab fa-fw fa-twitter" %>
</div>

 <div class="text-center">
  <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
</div>

