<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Twitter</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>


<div class="container social-media-pages">
    <div class="card-details d-flex">
      <h1>Summary</h1> <br>
    </div>
    <p><%= @user.username_twitter %></p>
</div>

<div class="container social-media-pages">
  <div class="card-details small">
    <div class="twin-1 w-50">
      <h3 class="center">Your last tweets</h3>
      <% @contents.each do |tweet|%>
      <div class="card-twitter tweet w-80" style="height: 30px;"><%= tweet %>
    </div>
      <% end %>
    </div>
  </div>
 <!--  <div class="card-details d-flex">
    <div class="twin-1 w-50">
      <h3 style="white-space: pre-wrap;">Grammar mistakes</h3>
      <p>You've mispelled some words:  <span> "3 experience"  </span> in your last 200 tweets.</p>
      <p>You've mispelled some words:  <span> "joubs" </span> in your last 200 tweets.</p>
      <p>You've mispelled some words:  <span>"makintg" </span> in your last 200 tweets.</p>

    </div> -->
    <div class="container social-media-pages">
        <div class="card-details small">
          <h3 style="white-space: pre-wrap;">Be careful you made some mistakes</h3> <br>
          <ul>
          <% @mistakes.each do |word| %>
              <div class="mistakes" style="height: 30px;"><li class= "li"><%= word.flatten[1] %></li>
            <% unless word.nil? %>
            <% end %>
                </div>
          <% end %>
          </ul>
      </div>
    </div>

    <div class="container social-media-pages">
        <div class="card-details small">
        <h3 style="white-space: pre-wrap;">Your Top 5 favorite hashtags</h3>
          <div >
             <% @hashtags.first.each do |hashtag| %>
             <div class= "circle-twi text-center"> <%= hashtag.first %> </div>
              <% end %>
      </div>
    </div>


  <div class="social-link text-center">
    <h3><i class="fas fa-arrow-circle-down"></i> Click to make changes <i class="fas fa-arrow-circle-down"></i></h3>
    <%= link_to '', "https://www.twitter.com/#{current_user.username_twitter}", target:"_blank", style:"text-decoration: none;", class:"fab fa-fw fa-twitter" %>
  </div>

   <div class="text-center">
    <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
  </div>
</div>
</div>
