<!DOCTYPE html>
<html>
  <head>
    <title>Clickandstalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:title" content="Click & Stalk">
    <meta property="og:description" content="CHECK OUT and CLEAN UP your cyber-image before looking for your dream job.">
    <meta property="og:image" content="landing-image.png">
    <meta property="og:url" content="https://www.clickandstalk.com/">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
